# Virtual Environments
.venv/
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Downloaded Fonts
*.ttf

# Temp Files
*.pdf
*.png

# Node / Next.js
node_modules/
.next/
out/
.turbo/
*.tsbuildinfo

# Netlify
.netlify/

# Env
.env.local
.env.*.local
